
DivAcerManagerMax/obj/

DivAcerManagerMax/bin/

DivAcerManagerMax-CLI/obj/

DivAcerManagerMax-CLI/bin/

DAMXCommon/obj/

DAMXCommon/bin/

*~

Publish/

publish/

buildPublish/

DAMM-Daemon/build/

DAMM-Daemon/dist/

DAMM-Daemon/__pycache__/
